<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup>
  <connectionStrings>
    <add name="TstEcomDb" connectionString="Data Source=TST-ECOM-DB;Initial Catalog=TST-ECOM-DB;User id=devuser;Password=2878920;MultipleActiveResultSets=true;Asynchronous Processing=true;Connection Timeout=60" providerName="System.Data.SqlClient"/>
    <add name="PrdEcomDb" connectionString="Data Source=PRD-ECOM-DB;Initial Catalog=PRD-ECOM-DB;User id=sjang;Password=2878920;MultipleActiveResultSets=true;Asynchronous Processing=true;Connection Timeout=60" providerName="System.Data.SqlClient"/>
    <add name="GssNav" connectionString="Data Source=PRD-NAV-DB;Initial Catalog=GSS;Integrated Security=SSPI;MultipleActiveResultSets=true; Asynchronous Processing=true;Connection Timeout=60" providerName="System.Data.SqlClient"/>
    <add name="GssNav01" connectionString="Data Source=TST-SMG-DB;Initial Catalog=GSS;Integrated Security=SSPI;MultipleActiveResultSets=true; Asynchronous Processing=true;Connection Timeout=60" providerName="System.Data.SqlClient"/>
  </connectionStrings>
	<appSettings>
		<add key="InvoiceConfirmedFolder" value="R:\documents\OUT\Status\Confirmed\Invoice\"/>
		<add key="InvoiceCreatedFolder" value="R:\documents\OUT\Status\Created\Invoice\"/>
		<add key="InvoiceFailedFolder" value="R:\documents\OUT\Status\Failed\"/>
		<add key="InvoiceOutgoingFolder" value="R:\documents\OUT\Status\Outgoing\Invoice\"/>
		<add key="InvoiceSentFolder" value="R:\documents\OUT\Status\Sent\Invoice\"/>
		<add key="InvoicePortFolder" value="R:\ports\Send_cXML_Status_Invoice\"/>
		<add key="InvoiceReportFolder" value="R:\Reports\Send_Electronic_Invoice\"/>
		<add key="InvoiceEncryptedFolder" value="R:\documents\OUT\Status\Encrypted\Invoice\"/>
		<add key="GlAccounts" value="42100;42105;42110;42120;42130;42140;42142;42144;42150;45200"/>
	</appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.9.0.0" newVersion="1.9.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
